body {
    font-family: "Roboto Slab", sans-serif;
    overflow-y: hidden;
    margin-top: 0px;
}

.container {
    max-width: auto;
    margin: 0 auto;
    padding: 20px;
    padding-top: 0px;
  
}

.news-card {
    background-color: #171717;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    background-image: url();
}

.news-card .content-container {
    position: relative;
}

.news-card .content-container .news-button {
    position: absolute;
    bottom: 10px; /* Ajusta la distancia desde la parte inferior */
    margin-bottom: 20px;
}


.news-title {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 5px;
}

.news-subtitle {
    font-size: 20px;
    color: #888;
    margin-bottom: 10px;
}

.news-source {
    font-size: 12px;
    color: #888;
    margin-bottom: 5px;
}

.news-button {
    background-color: rgba(0, 0, 0, 0.61);
    color: white;
    border: none;
    border-radius: 7px;
    padding: 8px 16px;
    cursor: pointer;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
}

.news-button:hover {
    background-color: #333;
}

.news-content {
    margin-bottom: 10px;
}

.news-card {
    height: 90vh;
    position: relative;
    border-radius: 15px;
    margin-bottom: 10px;
}

.news-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.news-card .content-container {
    height: 100%;
    position: relative;
    z-index: 1;
    background-color: transparent;
    padding: 10px;
    border-radius: 8px;
}

.news-card .content-container .news-title,
.news-card .content-container .news-subtitle,
.news-card .content-container .news-source,
.news-card .content-container .news-button {
    color: white;
}

.news-card {
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

#scrollButton {
    opacity: 0;
  position: fixed;
  bottom: 20px; /* Ajusta la distancia desde la parte inferior de la ventana */
  right: 20px; /* Ajusta la distancia desde el lado derecho de la ventana */
  z-index: 9999; /* Asegura que el botón esté en el frente de otros elementos */
}

body {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Standard syntax */
  }

  